html {
    background-color: black;
  }

h1 {
    text-align: center;
    color:slateblue;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

h2 {
    text-align: center;
    color:steelblue;
    font-family: 'Rubik Vinyl', cursive;
    font-size: 25px;
    font-weight: 400;
}

h3 {
    text-align: left;
    color:aqua;
    font-family: 'Rubik 80s Fade',  cursive;
    font-size: 22px;
    font-weight: 400;
}

h4 {
    text-align: left;
    color:deepskyblue;
    font-family: 'Rubik Microbe', cursive;
    font-size: 20px;
    font-weight: 400;
}

p  {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    color:aliceblue;
}

article {
    box-sizing: border-box;
}

li  {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    color:aliceblue;
}

code {
    background-color: cyan;
    color: blue;
    font-size: 12px;
}

h3 code {
    font-size: 22px;
}

.rgb {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    color: rgb(250, 50, 50);
}

.hsl {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    color: hsl(217, 28%, 57%);
}

.alpha {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    color:rgb(255, 0, 0);opacity:0.4;
}

.hexadecimal {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    color: #1c816b;
}